*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #F0F0F0;
    font-family:Poppins,sans-serif;
}
.container{
    margin-top: 150px;
    display: flex;
}
.box{
    background-color: white;
    width: 900px;
    height: 500px;
    margin: auto;
    border-radius: 10px;
    border-bottom-right-radius: 170px;
    position: relative;
}
label{
    position: absolute;
    margin-top: 15px;
    margin-left: 40px;
    text-transform: uppercase;
    font-weight: 600;
}
input{
    margin: 40px;
    padding: 10px;
    width: 180px;
    height: 70px;
    border: 1px solid #F0F0F0;
    border-radius: 10px;
}
span{
    font-size:50px;
    font-weight:900;
}
.display{
    margin-left:40px;
    display: flex;
    flex-direction: column;
}
.dash{
    font-size:60px;
    font-weight:900;
    color:#8857F1;
}
hr{
    width: 70%;
    margin: auto;
    background-color:#F0F0F0;
}
img{
    background-color: #8857F1;
    border-radius: 50%;
    border: none;
    outline: none;
    position: absolute;
    right: 50px;
    top: 111px;
    cursor: pointer;
    width: 8%;
}
.attribution{
    margin: 20px;
    padding: 20px;
}
@media (max-width: 768px) {
    .container{
        display: block;
        margin: 100px auto;
    }
    .info{
        margin-bottom:50px;
    }
    input{
        margin: 20px;
        padding: 5px;
        width: 60px;
        border: 1px solid #F0F0F0;
        border-radius: 10px;
        margin-block: 40px;
        height: 40px;
    }
    label{
        position: absolute;
        margin-left: 24px;
        text-transform: uppercase;
        font-size: 12px;
    }
    span{
        font-size: 40px;
    }
    .dash{
        font-size: 50px;
    }
    .box{
        margin: auto;
        width: 80%;
    }
    input::placeholder{
        font-size: 10px;
        font-weight: bold;
    }
    img{
        background-color: #8857F1;
        border-radius: 50%;
        border: none;
        outline: none;
        position: absolute;
        left: 140px;
        top: 152px;
        cursor: pointer;
        width: 12%;
    } 
    hr{
        width: 80%;
    }
    .attribution{
        font-size: 13px;
        margin: auto;
    }
}